@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
    --bg-primary-clr: hsl(350, 100%, 88%);
    --ff-title: 'Tangerine', cursive;
    --fc-primary-clr: hsl(350, 100%, 94%);
    --fc-secondary-clr: hsl(350, 100%, 70%);
    --fc-tertiary-clr: hsl(350, 100%, 50%);
    --fc-quaternary-clr: hsl(350, 100%, 30%);
    --fw-bold: 700;
    --fw-normal: 400;
    --fw-light: 300;
}




html {
	background-color: var(--bg-primary-clr);
}

body {
    text-align: center;
}

.grey  {
    height: 16.9vh !important;
  
}


.brand-logo {
    margin: 1.6vh -25vw 0 -10vw !important;
    padding: 3vh 0 0 12vw !important;
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: 5.9rem !important;
    color: var(--fc-primary-clr) !important;
    letter-spacing: 1.0vw !important;
    text-shadow: 2px 1px 2px rgb(165, 164, 164),
                2px 4px 6px rgba(27, 27, 27, 0.5);


}

.hr-header {
    margin: 2vh auto 0 auto;
    width: 27vw ;
    filter: drop-shadow(3px 2px 0.92px rgba(233, 232, 232, 0.486));
}

.title-h1 {
    margin: 15vh auto 0 auto;
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: 8.4rem !important;
    color: var(--fc-secondary-clr);
    letter-spacing: 1.0vw !important;
    text-shadow: 2px 1px 2px rgb(165, 164, 164),
                2px 4px 6px rgba(27, 27, 27, 0.5);
}

.title-h4 {
    margin: 7vh 0 0 0;
    font-family: var(--ff-title);
    font-weight: var(--fw-normal);
    font-size: 3.051rem !important;
    color: var(--fc-quaternary-clr);
    letter-spacing: 0.7vw !important;
    text-shadow: 2px 1px 2px rgb(165, 164, 164),
                2px 4px 6px rgba(27, 27, 27, 0.5);
}

.section-sign {
    margin: 0 0 0 0 !important;
    position: inline-block !important;
    font-size: 0.9rem !important;
}

.curtsy-img {
    margin: 5vh 0vw 0 2vw;
    width: 15%;
    /* min-width:110px; */
    left: -34vw !important;
    top: -43vh;
    position: relative;
    border-radius: 18px;
    box-shadow: 12px 9px 19px hsla(0, 0%, 4%, 0.438);
    aspect-ratio: 274 / 400;
    rotate: -5deg;

}

.marys-lamb {
    margin: 5vh 0vw 0 2vw;
    width: 15%;
    right: -32vw !important;
    top: -43vh;
    position: relative;
    border-radius: 18px;
    box-shadow: 12px 9px 19px hsla(0, 0%, 4%, 0.438);
    aspect-ratio: 274 / 400;
    rotate: 5deg;

}

