


:root {
    --accent-color: rgb(204, 0, 0);
    --lightest-gray: rgb(244, 244, 244);
    --light-gray: rgb(144, 144, 144);
    --medium-gray: rgb(96, 96, 96);
    --dark-gray: rgb(13, 13, 13);
    --dark-shadow-gray: rgba(46, 1, 1, 0.541);
	--summer-shadow: rgba(13, 13, 13, 0.726);
	--hr-shadow-clr: rgba(13, 13, 13, 0.473);
	--highlight-blue: rgb(130, 208, 253);
	--bg-primary-clr: hsl(350, 100%, 88%);
	--bg-sidebar-clr: hsla(350, 100%, 30%, 0.089);
    --ff-title: 'Tangerine', cursive;
	--ff-oxygen: 'Oxygen', sans-serif;
    --header-height: 40px;
    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;
  }

html {
	background: var(--bg-primary-clr);
}
	
body {
    width: 100%;
	min-height: 100vh;
   
} */

 p {
	margin: 10px 0 !important;
}

.login-container {
	width: 400px;
	margin-top: 50px;
	text-align: center;
}

.fa-small {
	font-size: 10px !important;
}

.btn-float {
	float: left;
	margin-right: 10px;
}

.img-small {
	width: 180px;
}

.sidenav-trigger {
	margin: 7vh 5vw 0 -3vw;
}

/* .navbar-shell {
	margin: 0;
    padding: 0;
    top: 0;
    justify-self: start;
} */

/* .sidebar-shell {
	margin: 30vh auto 0 20vw;
	width: 100%;
	height: 100vh;
	z-index: 12;
} */
