@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
    --bg-primary-clr: hsl(350, 100%, 88%);
    --ff-title: 'Tangerine', cursive;
    --fc-primary-clr: hsl(350, 100%, 94%);
    --fc-secondary-clr: hsl(350, 100%, 70%);
    --fc-tertiary-clr: hsl(350, 100%, 50%);
    --fc-quaternary-clr: hsl(350, 100%, 30%);
    --fw-bold: 700;
    --fw-normal: 400;
    --fw-light: 300;
}





html {
	background-color: var(--bg-primary-clr);
}

body {
    text-align: center;
    /* color: hsla(0, 0%, 2%, 0.863); */
}

.grey  {
    height: 16.9vh !important;
  
}


.brand-logo {
    margin: 1.6vh -25vw 0 -10vw !important;
    padding: 3vh 0 0 12vw !important;
    font-family: var(--ff-title);
    font-weight: var(--fw-bold);
    font-size: 5.9rem !important;
    color: var(--fc-primary-clr) !important;
    letter-spacing: 1.0vw !important;
    text-shadow: 2px 1px 2px rgb(165, 164, 164),
                2px 4px 6px rgba(27, 27, 27, 0.5);


}

.hr-header {
    margin: 2vh auto 0 auto;
    width: 27vw ;
    filter: drop-shadow(3px 2px 0.92px rgba(233, 232, 232, 0.486));
}





