/*
:root {
	--bg-primary-clr: hsl(350, 100%, 88%);
	--ff-title: 'Tangerine', cursive;
	--fc-primary-clr: hsl(350, 100%, 94%);
    --fc-secondary-clr: hsl(350, 100%, 70%);
    --fc-tertiary-clr: hsl(350, 100%, 50%);
	--fc-quaternary-clr: hsl(350, 100%, 30%);
	--fw-bold: 700;
    --fw-normal: 400;
	--fw-light: 300;
} */

/* html {
	background: var(--bg-primary-clr);
}
	
body {
    width: 100%;
	min-height: 100vh;
   
} */

/* p {
	margin: 10px 0 !important;
}

.login-container {
	width: 400px;
	margin-top: 50px;
	text-align: center;
}

.fa-small {
	font-size: 10px !important;
}

.btn-float {
	float: left;
	margin-right: 10px;
}

.img-small {
	width: 180px;
}

.sidenav-trigger {
	margin: 7vh 5vw 0 -3vw;
} */

/* .navbar-shell {
	margin: 0;
    padding: 0;
    top: 0;
    justify-self: start;
} */

/* .sidebar-shell {
	margin: 30vh auto 0 20vw;
	width: 100%;
	height: 100vh;
	z-index: 12;
} */
